/* :root {
  --primary-color: #068f56;
  --primary-color-light: #07c073;
  --secondary-color: #5f3dc4;
  --secondary-color-light: #845ef7;
  --dark-background: #222;
  --white-background: #eee;
  --white-background-light: #fff;
  --grey-color: #555;
  --grey-color-light: #ccc;
  --grey-color-dark: #444;
} */
/* ----- Category Page ----- */

.category-container {
  min-height: 100vh;
}
/* Header */
/* .category-header {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  gap: 1.5rem;
} */
/* .category-icon img {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
} */
/* .single-category-description {
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
} */
/* Topic list */
.topic-list {
  background-color: var(--white-background-light);
  border-radius: 10px;
  margin-top: 3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.head-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  border-bottom: 1px solid var(--dark-background);
  padding: 1rem;
  font-weight: bold;
}
.other-heads {
  flex: 0.55;
  display: flex;
  column-gap: 4rem;
  justify-content: space-around;
}
/* Topic Row */
.topic-content-wrapper {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--dark-background);
}
/* Remove last border from child */
.topic-row:last-child .topic-content-wrapper {
  border-bottom: none;
}
/* .topic-content {
  width: 100%;
  border-bottom: 1px solid var(--dark-background);
  border: 1px solid green;
} */
.topic-text {
  flex: 50%;
  min-width: 0;
}
.topic-title a {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--dark-background);
  text-decoration: none;
  transition: all 0.3s;
}
.topic-title a:hover {
  color: var(--primary-color-light);
}
.topic-preview {
  font-size: 0.9rem;
}
/* .color-category {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
} */
/* .category-color { */
/* display: inline-block; */
/* width: 10px;
  height: 10px;
} */
.topic-meta {
  flex: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topic-author {
  font-style: italic;
  color: var(--secondary-color);
}
/* .topic-author img {
  width: 30px;
  height: 30px;
  object-fit: cover;
} */
.topic-score {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
.upvotes svg {
  fill: var(--primary-color);
  margin-bottom: -1px;
}
.downvotes svg {
  fill: var(--grey-color);
  margin-bottom: -1px;
}
.upvotes svg,
.downvotes svg {
  margin-bottom: -1px;
}
.no-topics-message {
  text-align: center;
  padding: 1rem;
}
/* .topic-views a,
.topic-date a {
  color: var(--dark-background);
  text-decoration: none;
}
.topic-views a {
  color: var(--secondary-color);
} */
.out-of-topics {
  font-size: 1.3rem;
  text-align: center;
  margin-top: 4rem;
  font-style: italic;
}
/* Responsive adjustments */
@media only screen and (max-width: 768px) {
  body {
    font-size: 0.85rem;
  }
  .other-heads {
    column-gap: 1rem;
  }
  .topic-score {
    flex-direction: column;
  }
}
@media only screen and (max-width: 460px) {
  body {
    font-size: 0.8rem;
  }
  .topic-meta {
    flex: 60%;
  }
  .other-heads {
    column-gap: 0.5rem;
  }
}
