/* ----- Create Post Page ----- */
/* Container & card */
/* :root {
  --primary-color: #068f56;
  --primary-color-light: #07c073;
  --secondary-color: #5f3dc4;
  --secondary-color-light: #845ef7;
  --dark-background: #222;
  --white-background: #eee;
  --white-background-light: #fff;
  --grey-color: #555;
  --grey-color-light: #ccc;
  --grey-color-dark: #444;
} */
.create-post-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow-y: auto; */
}
.form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-wrapper {
  max-width: 500px;
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: var(--white-background-light);
  /* Limit the container for not overflowing */
  max-height: 90vh;
  overflow-y: auto;
  /* make scrollbar thiner */
  scrollbar-width: thin;
}
.post-title {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
/* Fields */
.field {
  margin-bottom: 0.5rem;
}
.label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.3rem;
  margin-left: 0.2rem;
}
.input {
  width: 100%;
  padding: 0.6rem 0.8rem;
  border-radius: 8px;
  border: none;
  background: #ececec;
  margin-bottom: 0.5rem;
}
.textarea {
  resize: vertical;
  min-height: 90px;
}
.input::placeholder,
textarea::placeholder,
.multi-selected .placeholder {
  color: var(--grey-color-dark);
}
/* Button */
.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}
.btn {
  width: 100%;
  border: none;
  font-size: 1rem;
  border-radius: 8px;
  padding: 0.6rem 1rem;
  font-weight: bold;
  cursor: pointer;
}
.btn-reset {
  background-color: var(--grey-color-light);
  transition: all 0.3s;
}
.btn-reset:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.btn-submit {
  background-color: rgb(24, 165, 106);
  color: var(--white-background);
  transition: all 0.3s;
}
.btn-submit:hover {
  background-color: var(--primary-color-light);
}
.field-error {
  color: #e63946;
  font-size: 0.9rem;
  margin-left: 5px;
}
/* Multi-select control */
.multi-select {
  position: relative;
  user-select: none;
}
.multi-selected {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 8px;
  background: #ececec;
  min-height: 40px;
  cursor: pointer;
}
.multi-selected .placeholder {
  margin-left: 0.5rem;
}
.chips {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
/* chip */
.chip {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.3rem 0.6rem;
  border-radius: 30px;
  background-color: var(--white-background-light);
  color: var(--primary-color);
}
/* options dropdown */
.options {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 10;
  margin-top: 0.3rem;
  background-color: var(--white-background-light);
  border: 1px solid var(--grey-color-light);
  border-radius: 8px;
  padding: 0.5rem;
  max-height: 220px;
  overflow: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.options .option {
  padding: 0.5rem;
  /* background-color: #07c073; */
  border-radius: 8px;
}
.option label {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  cursor: pointer;
}
/* when open */
.multi-select.open .options {
  display: block;
}
/* small chevron style */
.chev {
  background: transparent;
  border: none;
  font-size: 1.2rem;
  transform: rotate(-90deg);
  margin-left: auto;
  cursor: pointer;
  transition: all 0.3s;
}
.multi-select.open .chev {
  transform: rotate(0);
}
/* File Upload */
.upload-box {
  width: 100%;
  border: 2px dashed var(--grey-color-light);
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}
.upload-box:hover {
  border-color: #9ca3af;
}
.upload-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  pointer-events: none; /* clicks go to parent */
}
.upload-icon {
  width: 28px;
  height: 28px;
  opacity: 0.7;
}
.upload-text {
  font-size: 0.9rem;
  color: var(--grey-color);
}
.upload-preview {
  max-width: 100%;
  width: 100%;
  object-fit: contain;
  max-height: 250px;
  border-radius: 8px;
  margin-top: 0.5rem;
}
/* Home Link */
.home-link-container {
  display: flex;
  justify-content: center;
}
.home-link {
  padding: 0.8rem 1.6rem;
  background-color: var(--secondary-color-light);
  color: var(--white-background-light);
  text-decoration: none;
  border-radius: 8px;
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.home-link:hover {
  background-color: var(--secondary-color);
  transform: translateY(-3px);
}
