{{ define "category_details" }}
<!-- Details Categories -->
<div class="nav-categories">
  <details class="category-details">
    <summary>Categories</summary>
    <div class="details-content">
      {{ range .Categories }}
      <a href="/category/{{ .Slug }}" class="details-category-link">
        <div class="details-text-box">
          <span
            class="details-category-color"
            style="background-color: #{{ .Color }}"
          ></span>
          <span class="details-category-title">{{ .Name }}</span>
        </div>
        <span class="category-count">{{ len .Topics }}</span>
      </a>
      {{ end }}
    </div>
  </details>
  <div class="category-links"></div>
  <a
    href="/categories"
    class='nav-categories-btn {{if eq .ActivePage "categories"}}active{{end}}'
    >Categories</a
  >
  <a
    href="/topics"
    class='nav-categories-btn {{if eq .ActivePage "topics"}}active{{end}}'
    >All Topics</a
  >
  <a
    href="/latest_posts"
    class='nav-categories-btn {{if eq .ActivePage "latest"}}active{{end}}'
    >Latest</a
  >
  <a
    href="/top_posts"
    class='nav-categories-btn {{if eq .ActivePage "top"}}active{{end}}'
    >Top</a
  >
</div>
{{ end }}
